events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  server {
    listen 80;
    root /srv/comet;
    index index.html;
    location /jira/ {
      proxy_pass $JIRA_HOST/;
    }
    location / {}
  }
}
